{% extends 'layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Manage Approval User'|trans }}</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-8">
                            <table class="table table-striped table-bordered table-hover display nowrap" id="datatable">
                                <thead>
                                <tr>
                                    <th scope="col"><i class="fa fa-sort-numeric-desc"></i></th>
                                    <th scope="col">User Name</th>
                                    <th scope="col">Designation</th>
                                    <th scope="col">Department</th>
                                    <th scope="col">Process</th>
                                    <th scope="col">Mandatory</th>
                                    <th scope="col">Rejected</th>
                                    <th scope="col">Status</th>
                                    <th scope="col text-center"><i class="feather icon-settings"></i></th>
                                </tr>
                                </thead>
                                <tbody id="sortable">
                                {% for entity in pagination %}
                                    <tr data-post-id="{{ entity.id }}">
                                        <td> <div class="col-md-1 text-center"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span></div></td>
                                        <td>{{ entity.user.name }}</td>
                                        <td>{% if entity.user.profile.designation is not empty %}{{ entity.user.profile.designation.name }}{% endif %}</td>
                                        <td>{% if entity.user.profile.department is not empty %}{{ entity.user.profile.department.name }}{% endif %}</td>
                                        <td>{{ entity.process }}</td>
                                        <td><input class="status" data-action="{{ path('approval_user_mandatory',{'id':entity.id}) }}" type="checkbox" {% if entity.isMandatory == 1 %} checked="checked" {% endif %} data-toggle="toggle" data-size="xs" data-style="slow" data-offstyle="warning" data-onstyle="success" data-on="Enabled" data-off="Disabled"></td>
                                        <td><input class="status" data-action="{{ path('approval_user_rejected',{'id':entity.id}) }}" type="checkbox" {% if entity.isRejected == 1 %} checked="checked" {% endif %} data-toggle="toggle" data-size="xs" data-style="slow" data-offstyle="warning" data-onstyle="success" data-on="Enabled" data-off="Disabled"></td>
                                        <td><input class="status" data-action="{{ path('approval_user_status',{'id':entity.id}) }}" type="checkbox" {% if entity.status == 1 %} checked="checked" {% endif %} data-toggle="toggle" data-size="xs" data-style="slow" data-offstyle="warning" data-onstyle="success" data-on="Enabled" data-off="Disabled"></td>
                                        <td>
                                            <div class="btn-group">
                                                <a class='btn   btn-mini yellow-bg white-font' data-id='{{ entity.id }}' href='{{ path('approval_user_edit',{'id':entity.id}) }}' id='{{ entity.id }}' ><i class='feather icon-edit'></i> Edit</a>
                                                <a class='btn  btn-transparent btn-mini red-font remove' data-id='{{ entity.id }}' href='javascript:' data-action='{{ path('approval_user_delete',{'id':entity.id}) }}' id='{{ entity.id }}' ><i class='feather icon-trash-2'></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-4">
                            <div class="portlet box green ">
                                <div class="portlet-title">
                                    <div class="caption">{{ 'ADD NEW APPROVAL USER'|trans }} </div>
                                </div>
                                <div class="portlet-body form">
                                    {{ form_start(form, {'attr': {'class': 'form-horizontal right'}}) }}
                                    <div class="form-inner-no-space">
                                        <div class="row">
                                            <div class="col-md-12 form-box-header"><p>All approval user</p></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 form-box-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            {{ form_label(form.user, 'Approval User'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                            <div class="col-md-8">
                                                                <span class="is-required"> *</span>
                                                                {{ form_widget(form.user) }}
                                                                {{ form_errors(form.user) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            {{ form_label(form.user, 'Process'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                            <div class="col-md-8">
                                                                <span class="is-required"> *</span>
                                                                {{ form_widget(form.process) }}
                                                                {{ form_errors(form.process) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            {{ form_label(form.departments, 'Departments'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                            <div class="col-md-8">
                                                                {{ form_widget(form.departments) }}
                                                                {{ form_errors(form.departments) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            {{ form_label(form.appModules, 'Modules'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                            <div class="col-md-8">
                                                                {{ form_widget(form.appModules) }}
                                                                {{ form_errors(form.appModules) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="col-md-4"></label>
                                                            <div class="col-md-8">
                                                                {{ form_widget(form.isMandatory) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="col-md-4"></label>
                                                            <div class="col-md-8">
                                                                {{ form_widget(form.isRejected) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="col-md-4"></label>
                                                            <div class="col-md-8">
                                                                {{ form_widget(form.status) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="form-sm-actions">
                                            <div class="col-md-12 text-center">
                                                <div class="btn-group" role="group" aria-label="Button group with nested dropdown"><button type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-refresh"></i>Restore</button>
                                                    {{ form_widget(form.SaveAndCreate, {label: 'label.save.continue',value:'label.save.continue', attr: { class: 'btn btn-info form-submit'}}) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{ form_widget(form._token) }}
                                    {{ form_end(form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    $('#sortable').sortable({
        update: function(event, ui) {
        $('#sortable').children().each(function(i) {
        var id = $(this).attr('data-post-id')
        ,order = $(this).index() + 1;
        $.get(Routing.generate('approval_user_ordering'),{'columnId':id,'sorting':order})});
        }
    });
{% endblock %}
