
<header class="">
    <nav class="navbar navbar-expand-md white-font">
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <div class="dropdown">
                <span  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   <img src="{{ asset('assets/images/app-icon.png') }}" style="height:40px"  />
                </span>
                <div class="dropdown-menu dropright" id="application">
                    <div class="dropdown-header text-center" id="application-inner">APPLICATIONS</div>

                </div>
            </div>
            <ul class="nav navbar-nav" style="margin-left:30px">
                {% if (is_granted("ROLE_DOMAIN") or is_granted("ROLE_CORE"))  %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="javascript:" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ 'Inventory'|trans }}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li class="dropdown-submenu">
                                <a class="dropdown-item dropdown-toggle" href="javascript:">{{ 'Setting'|trans }}</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="">{{ ' Setting'|trans }}</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                {% endif %}
                {% if (is_granted("ROLE_ADMIN") or is_granted("ROLE_DOMAIN") or is_granted("ROLE_CORE"))  %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="javascript:" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Master Data
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            {% if (is_granted("ROLE_DOMAIN") or is_granted("ROLE_USER"))  %}
                                <li><a class="dropdown-item" href="{{ path('core_user') }}">Manage Employee</a></li>
                                <li><a class="dropdown-item" href="{{ path('core_agent') }}">Manage Agent</a></li>
                                <li><a class="dropdown-item" href="{{ path('core_setting') }}">{{ 'Core Setting'|trans }}</a></li>
                                <li><a class="dropdown-item" href="{{ path('admin_location_index') }}">{{ 'Location'|trans }}</a></li>
                            {% endif %}
                            {# {% if (is_granted("ROLE_DOMAIN") or is_granted("ROLE_ADMIN"))  %}
                                 <li><a class="dropdown-item" href="{{ path('core_domain_terminal') }}">Domain Setting</a></li>
                             {% endif %}#}
                        </ul>
                    </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="javascript:" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">KPI
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        {% if (is_granted("ROLE_DOMAIN") or is_granted("ROLE_USER"))  %}
                            <li><a class="dropdown-item" href="{{ path('kpi_mark_location') }}">Location Mark</a></li>
                            <li><a class="dropdown-item" href="{{ path('kpi_employee_board') }}">KPI Board</a></li>
                            <li><a class="dropdown-item" href="{{ path('kpi_setup') }}">KPI Setup</a></li>
                            <li><a class="dropdown-item" href="{{ path('kpi_markchart') }}">Mark Chart</a></li>
                            {#              <li><a class="dropdown-item" href="{{ path('kpi_setting') }}">Setting</a></li>
                                          <li><a class="dropdown-item" href="{{ path('kpi_setting_new') }}">New Setting</a></li>
                          #}            {% endif %}
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="javascript:" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">CRM
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        {% if (is_granted("ROLE_DOMAIN") or is_granted("ROLE_USER"))  %}

                            <li><a class="dropdown-item" href="{{ path('crm_visit') }}">CRM Visit</a></li>
                            <li><a class="dropdown-item" href="{{ path('crm_customer') }}">Customer</a></li>
                            <li><a class="dropdown-item" href="{{ path('crm_chick') }}">Chick</a></li>
                            <li><a class="dropdown-item" href="{{ path('broiler_standard') }}">Broiler Standard </a></li>
                            <li><a class="dropdown-item" href="{{ path('sonali_standard') }}">Sonali Standard </a></li>
                            <li><a class="dropdown-item" href="{{ path('fcr') }}">FCR</a></li>
                            <li><a class="dropdown-item" href="{{ path('layer_performance_new') }}">Layer Performance</a></li>
                            <li><a class="dropdown-item" href="{{ path('layer_life_cycle') }}">Layer Life Cycle</a></li>
                            <li><a class="dropdown-item" href="{{ path('crm_expense') }}">Expense</a></li>
                            <li><a class="dropdown-item" href="{{ path('crm_setting') }}">Setting</a></li>

                        {% endif %}
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if app.user is  empty %}
                    <li class="search"><a href="#"><i class="fa fa-lock"></i></a></li>
                {% else %}
                    <li>
                        <div class="dropdown drp-user">
                            <a href="javascript:" style="color: #ffffff!important;" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="icon feather icon-user"></i> {{  app.user.username|capitalize }}
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                {% if app.user.name %}
                                    <div class="dropdown-header" >{{  app.user.name|capitalize }}</div>
                                    <div class="dropdown-divider"></div>
                                {% endif %}
                                <a class="dropdown-item" href="javascript:"><i class="feather icon-edit"></i> My account</a>
                                <a class="dropdown-item" href="javascript:"><i class="feather icon-file"></i> Documentation</a>
                                <a class="dropdown-item" href="javascript:"><i class="feather icon-help-circle"></i> Support</a>
                                <a class="dropdown-item" href="javascript:"><i class="feather icon-settings"></i> Shortcuts</a><div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ path('security_logout') }}"  title="Logout"><i class="feather icon-log-out"></i> Logout</a>
                            </div>
                        </div>
                    </li>
                {% endif %}
                {#  <li>
                      {% for locale in locales() %}
                      <a style="color: #ffffff!important;" {% if app.request.locale == locale.code %} class="lang_hide"{% else %} class="lang_show" {% endif %} href="{{ path(app.request.get('_route', 'blog_index'), app.request.get('_route_params', [])|merge({_locale: locale.code})) }}">{{ locale.name|capitalize|trans }}</a>
                      {% endfor %}
                  </li>#}
            </ul>
        </div>
    </nav>
</header>
