
<header class="">
    <nav class="navbar navbar-expand-md white-font">
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <div class="dropdown">
                <span  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   <img src="{{ asset('assets/images/app-icon.png') }}" style="height:40px"  />
                </span>
                {% if is_granted('ROLE_ADMIN') != true  %}
                <div class="dropdown-menu dropright" id="application">
                    <div class="dropdown-header text-center" id="application-inner">APPLICATIONS</div>
                    {% if app.user is not empty %}
                        {% for module in app.user.terminal.appBundles  %}
                            <div class="col-md-6">
                                <a class="btn {{ module.appUrl }} application" href="/{{ app.request.locale }}/{{ module.appUrl }}">
                                    {{ module.shortName }}
                                    <br/>
                                    <span style="font-size:9px"> {{ module.name }}</span>
                                </a>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                {% endif %}
            </div>
            <ul id="horizontalMenu" class="horizontal-responsive-menu" data-menu-style="horizontal">
            <li class="">
                <a href="{{ path('app_dashboard') }}">
                    <span class="title"><i class="feather icon-home"></i> Home</span>
                </a>
            </li>
                {% if app.user.hasRoles(['ROLE_SBS','ROLE_DOMAIN']) and app.user.checkBundle(['accounting']) %}
                    <li class="">
                        <a href="javascript:">
                            <span class="title"><i class="feather icon-home"></i> Home</span>
                        </a>
                    </li>
                {% endif %}
                {% if app.user.hasRoles(['ROLE_ADMIN']) %}
                    <li class="">
                        <a class="" href="javascript:"><span>Terminal</span></a>
                        <ul class="sub-menu">
                            <li><a href="{{ path('terminal_domain') }}">{{ 'Domain'|trans }}</a></li>
                            <li><a href="{{ path('terminal_appmodule') }}">{{ 'Bundle Module'|trans }}</a></li>
                            <li><a href="{{ path('terminal_appbundle') }}">{{ 'App Bundle'|trans }}</a></li>
                            <li><a href="{{ path('terminal_setting') }}">{{ 'Setting'|trans }}</a></li>
                            <li><a href="{{ path('admin_location_index') }}">{{ 'Location'|trans }}</a></li>
                        </ul>
                    </li>
                {% endif %}

                {% if app.user.hasRoles(['ROLE_DOMAIN','ROLE_DOMAIN_ADMIN']) %}
                    <li class="">
                        <a href="javascript:;"> <span class="title">{{ 'Administrator'|trans }}</span></a>
                        <ul class="sub-menu">
                            {% if app.user.terminal.businessGroup.slug == "garment" %}
                                {% if app.user.hasRoles(['ROLE_DOMAIN','ROLE_DOMAIN_ADMIN']) and app.user.checkBundle(['garments']) %}
                                    {{ render(controller(
                                        "App\\Controller\\ApplicationController::garmentsMenu"
                                    )) }}
                                {% endif %}
                            {% endif %}
                            {% if app.user.terminal.businessGroup.slug == "bank" %}
                                {{ render(controller(
                                    "App\\Controller\\ApplicationController::bankMenu"
                                )) }}
                            {% endif %}
                            {% if app.user.terminal.businessGroup.slug == "poultry" %}
                                {% if app.user.hasRoles(['ROLE_DOMAIN','ROLE_DOMAIN_ADMIN']) and app.user.checkBundle(['poultry']) %}
                                    {{ render(controller(
                                        "App\\Controller\\ApplicationController::poultryMenu"
                                    )) }}
                                {% endif %}
                            {% endif %}

                            {% if app.user.terminal.businessGroup.slug == "security-billing" %}
                                <li><a href="{{ path('sbs_user') }}">{{ 'Employee'|trans }}</a></li>
                                <li><a href="{{ path('core_setting') }}">{{ 'Setting'|trans }}</a></li>
                                <li><a href="{{ path('core_database_dump') }}">{{ 'DB Download'|trans }}</a></li>
                            {% endif %}
                            {% if app.user.terminal.approveProcess == 1 %}
                            <li>
                                <a href="javascript:">{{ 'Role & Permission'|trans }}</a>
                                <ul>
                                   {# <li><a href="{{ path('user_reporting') }}">{{ 'Manage Reporting'|trans }}</a></li>#}
                                    <li><a href="{{ path('domain_moduleprocess') }}">{{ 'Module Process'|trans }}</a></li>
                                    <li><a href="{{ path('domain_bundlerole') }}">{{ 'Bundle Role'|trans }}</a></li>
                                </ul>
                            </li>
                            <li><a href="{{ path('approval_user') }}">{{ 'Approval User'|trans }}</a></li>
                            {% endif %}
                            <li><a href="{{ path('domain_emailtemplate') }}">{{ 'Email Template'|trans }}</a></li>
                        </ul>
                    </li>
                {% endif %}
                {% if app.user.hasRoles(['ROLE_BUDGET','ROLE_DOMAIN']) and app.user.checkBundle(['budget']) %}
                    <li class="">
                        <a class="" href="javascript:"><span>{{ "Budget & Cost"|trans }}</span></a>
                        {{ render(controller(
                            "App\\Controller\\ApplicationController::budgetMenu"
                        )) }}

                    </li>
                {% endif %}
                {% if app.user.hasRoles(['ROLE_INVENTORY','ROLE_DOMAIN']) and app.user.checkBundle(['inventory']) %}
                    <li class="">
                        <a class="" href="javascript:"><span>{{ "Inventory"|trans }}</span></a>
                        {{ render(controller(
                            "App\\Controller\\ApplicationController::inventoryMenu"
                        )) }}
                    </li>
                {% endif %}
                {% if app.user.hasRoles(['ROLE_PROCUREMENT','ROLE_DOMAIN']) and app.user.checkBundle(['procurement']) %}
                    {{ render(controller(
                        "App\\Controller\\ApplicationController::procurementMenu"
                    )) }}
                {% endif %}
                {% if app.user.hasRoles(['ROLE_SBS','ROLE_DOMAIN']) and app.user.checkBundle(['security-billing']) %}
                    <li class="">
                        <a class="" href="javascript:"><span>{{ "Security Service"|trans }}</span></a>
                        {{ render(controller(
                            "App\\Controller\\ApplicationController::securityBillingMenu"
                        )) }}
                    </li>
                {% endif %}
                {% if app.user.hasRoles(['ROLE_DOMAIN','ROLE_DOMAIN_ADMIN','ROLE_PROCUREMENT_REPORT','ROLE_SBS_REPORT','ROLE_BUDGET_REPORT','ROLE_INVENTORY_REPORT']) %}
                    <li class="">
                        <a href="javascript:;"> <span class="title">{{ 'Reports'|trans }}</span></a>
                        {% if app.user.hasRoles(['ROLE_DOMAIN','ROLE_DOMAIN_ADMIN','ROLE_PROCUREMENT_REPORT']) and app.user.checkBundle(['procurement'])  %}
                            {{ render(controller(
                                "App\\Controller\\ApplicationController::procurementReportMenu"
                            )) }}
                        {% endif %}
                        {% if app.user.hasRoles(['ROLE_DOMAIN','ROLE_DOMAIN_ADMIN','ROLE_SBS_REPORT']) and app.user.checkBundle(['security-billing']) %}
                            {{ render(controller(
                                "App\\Controller\\ApplicationController::securityBillingReportMenu"
                            )) }}
                        {% endif %}
                    </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if app.user is  empty %}
                    <li class="search"><a href="#"><i class="fa fa-lock"></i></a></li>
                {% else %}
                    <li>
                        <div class="dropdown drp-user">
                            <a href="javascript:" style="color: #ffffff!important;" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="icon feather icon-user"></i> {% if app.user.name %}{{  app.user.name|capitalize }}{% endif %}
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                {% if app.user.name %}
                                    <div class="dropdown-header" >{{  app.user.name|capitalize }}</div>
                                    <div class="dropdown-divider"></div>
                                {% endif %}
                                <a class="dropdown-item" href="{{ path('profile_update') }}"><i class="feather icon-edit"></i> My account</a>
                                <a class="dropdown-item" href="{{ path('change_password') }}"><i class="feather icon-lock"></i> Reset Password</a>
                                <a class="dropdown-item" href="{{ path('security_logout') }}"  title="Logout"><i class="feather icon-log-out"></i> Logout</a>
                            </div>
                        </div>
                    </li>
                {% endif %}

            </ul>
        </div>
    </nav>
</header>
