<style>
    .dropdown-menu-right.show{
        top: 15px!important;
    }
    .dropdown-header {
        height: 67px;
    }
    .dropdown-item {
        display: block;
        width: 100%;
        padding: .25rem 1.5rem;
        clear: both;
        font-weight: 400;
        color: #212529;
        text-align: inherit;
        white-space: nowrap;
        background-color: transparent;
        border: 0;
        height: 70px;
    }
</style>
<nav class="pcoded-navbar">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
            <a href="{{ path('app_dashboard') }}" class="b-brand">
                {% if app.user.terminal.coreDomain is not empty and  app.user.terminal.coreDomain.webPath is not empty %}
                    <img width="220" height="60" src="/{{ app.user.terminal.coreDomain.webPath }}">
                {% else %}
                    <img width="220" height="60" src="{{ asset('assets/images/default/logo-placeholder.png') }}">
                {% endif %}
            </a>
            {# <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>#}
        </div>
        <div class="navbar-content scroll-div">
            <ul class="nav pcoded-inner-navbar">
                <li  class="nav-item active">
                    <a href="{{ path('app_dashboard') }}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
                </li>
                {% if app.user.hasRoles(['ROLE_PROCUREMENT','ROLE_DOMAIN']) and app.user.checkBundle(['procurement']) %}
                        {{ render(controller(
                            "App\\Controller\\ApplicationController::procurementMenu"
                        )) }}
                {% endif %}
                {% if app.user.hasRoles(['ROLE_INVENTORY','ROLE_DOMAIN']) and app.user.checkBundle(['inventory']) %}
                    <li class="nav-item pcoded-hasmenu">
                        <a class="" href="javascript:"><span class="pcoded-micon"><i class="feather icon-disc"></i></span><span class="pcoded-mtext">{{ "Inventory"|trans }}</span></a>
                        {{ render(controller(
                            "App\\Controller\\ApplicationController::inventoryMenu"
                        )) }}
                    </li>
                {% endif %}
                {% if app.user.hasRoles(['ROLE_PROCUREMENT_ADMIN','ROLE_DOMAIN']) and app.user.checkBundle(['procurement']) and app.user.terminal.businessGroup.slug == "bank" %}
                    <li class="nav-item pcoded-hasmenu">
                            {{ render(controller(
                                "App\\Controller\\ApplicationController::bankMenu"
                            )) }}
                    </li>
                {% endif %}
                {% if app.user.hasRoles(['ROLE_BUDGET','ROLE_DOMAIN']) and app.user.checkBundle(['budget']) %}
                    <li class="nav-item pcoded-hasmenu">
                        <a class="" href="javascript:"><span class="pcoded-micon"><i class="feather icon-at-sign"></i></span><span class="pcoded-mtext">{{ "Budget & Cost"|trans }}</span></a>
                        {{ render(controller(
                            "App\\Controller\\ApplicationController::budgetMenu"
                        )) }}

                    </li>
                {% endif %}
                {% if app.user.terminal.businessGroup.slug == "garment" %}
                    {% if app.user.hasRoles(['ROLE_DOMAIN','ROLE_DOMAIN_ADMIN']) and app.user.checkBundle(['garments']) %}
                        {{ render(controller(
                            "App\\Controller\\ApplicationController::garmentsMenu"
                        )) }}
                    {% endif %}
                {% endif %}
                {% if app.user.terminal.businessGroup.slug == "bank" %}
                    {{ render(controller(
                        "App\\Controller\\ApplicationController::bankMenu"
                    )) }}
                {% endif %}
                {% if app.user.terminal.businessGroup.slug == "poultry" %}
                    {% if app.user.hasRoles(['ROLE_DOMAIN','ROLE_DOMAIN_ADMIN']) and app.user.checkBundle(['poultry']) %}
                        {{ render(controller(
                            "App\\Controller\\ApplicationController::poultryMenu"
                        )) }}
                    {% endif %}
                {% endif %}
                {% if app.user.hasRoles(['ROLE_SBS','ROLE_DOMAIN']) and app.user.checkBundle(['security-billing']) %}
                    <li class="nav-item pcoded-hasmenu">
                        <a class="" href="javascript:"><span class="pcoded-micon"><i class="feather icon-at-sign"></i></span><span class="pcoded-mtext">{{ "Security Service"|trans }}</span></a>
                        {{ render(controller(
                            "App\\Controller\\ApplicationController::securityBillingMenu"
                        )) }}
                    </li>
                {% endif %}
                {% if app.user.hasRoles(['ROLE_DOMAIN','ROLE_DOMAIN_ADMIN','ROLE_PROCUREMENT_REPORT','ROLE_SBS_REPORT','ROLE_BUDGET_REPORT','ROLE_INVENTORY_REPORT']) %}
                    <li class="nav-item pcoded-hasmenu">
                        <a class="" href="javascript:"><span class="pcoded-micon"><i class="feather icon-bar-chart-2"></i></span><span class="pcoded-mtext">{{ "Reports"|trans }}</span></a>
                        {% if app.user.hasRoles(['ROLE_DOMAIN','ROLE_DOMAIN_ADMIN','ROLE_PROCUREMENT_REPORT']) and app.user.checkBundle(['procurement'])  %}
                            {{ render(controller(
                                "App\\Controller\\ApplicationController::procurementReportMenu"
                            )) }}
                        {% endif %}
                        {% if app.user.hasRoles(['ROLE_DOMAIN','ROLE_DOMAIN_ADMIN','ROLE_SBS_REPORT']) and app.user.checkBundle(['security-billing']) %}
                            {{ render(controller(
                                "App\\Controller\\ApplicationController::securityBillingReportMenu"
                            )) }}
                        {% endif %}
                    </li>
                {% endif %}
                {% if app.user.hasRoles(['ROLE_DOMAIN','ROLE_DOMAIN_ADMIN']) %}
                    <li class="nav-item pcoded-hasmenu">
                        <a class="" href="javascript:"><span class="pcoded-micon"><i class="feather icon-at-sign"></i></span><span class="pcoded-mtext">{{ "Administrator"|trans }}</span></a>
                        <ul class="sub-menu pcoded-submenu">
                            {% if app.user.terminal.businessGroup.slug == "security-billing" %}
                                <li><a href="{{ path('sbs_user') }}">{{ 'Employee'|trans }}</a></li>
                                <li><a href="{{ path('core_setting') }}">{{ 'Setting'|trans }}</a></li>
                            {% endif %}
                            {% if app.user.terminal.approveProcess == 1 %}
                                <li>
                                    <a href="javascript:">{{ 'Role & Permission'|trans }}</a>
                                    <ul class="sub-menu pcoded-submenu">
                                        <li><a href="{{ path('domain_moduleprocess') }}">{{ 'Module Process'|trans }}</a></li>
                                        <li><a href="{{ path('domain_bundlerole') }}">{{ 'Bundle Role'|trans }}</a></li>
                                    </ul>
                                </li>
                                <li><a href="{{ path('approval_user') }}">{{ 'Approval User'|trans }}</a></li>
                            {% endif %}
                            <li><a href="{{ path('domain_emailtemplate') }}">{{ 'Email Template'|trans }}</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<header class="pcoded-header navbar-expand-lg navbar-light headerpos-fixed header-purple">
    <div class="m-header">
        <a class="mobile-menu" id="mobile-collapse1" href="javascript:"><span></span></a>
        <a href="/dashboard" class="b-brand">
            <div class="b-bg">
                <i class="feather icon-trending-up"></i>
            </div>
            <span class="b-title"></span>
        </a>
    </div>
    <a class="mobile-menu" id="mobile-header" href="javascript:">
        <i class="feather icon-more-horizontal"></i>
    </a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li><a href="javascript:" class="full-screen" onclick="javascript:toggleFullScreen()"><i class="feather icon-maximize"></i></a></li>
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if app.user is  empty %}
                <li class="search"><a href="#"><i class="fa fa-lock"></i></a></li>
            {% else %}
                <li>
                    <div class="dropdown drp-user">
                        <a href="javascript:" style="color: #ffffff!important;" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon feather icon-user"></i> {% if app.user.name %}{{  app.user.name|capitalize }}{% endif %}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            {% if app.user.name %}
                                <div class="dropdown-header" >{{  app.user.name|capitalize }}</div>
                                <div class="dropdown-divider"></div>
                            {% endif %}
                            <a href="{{ path('profile_update') }}"><i class="feather icon-edit"></i> My account</a>
                            <a href="{{ path('change_password') }}"><i class="feather icon-lock"></i> Reset Password</a>
                            <a href="{{ path('security_logout') }}"  title="Logout"><i class="feather icon-log-out"></i> Logout</a>
                        </div>
                    </div>
                </li>
            {% endif %}
        </ul>
    </div>
</header>