::-webkit-input-placeholder { /* Edge */
    color: #343a40!important;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #343a40!important;
}

::placeholder {
    color: #343a40!important;
}
.card-block {
    min-height: 750px;
}
.btn-transparent{
    background: transparent!important;
}
.btn-default {
    color: #6c757d;
}
.border-blue{
    border:1px solid #3498db!important;
}
.open{
    display: block;
}
.confirmModal .confirmModal_content{
    text-align: center!important;
}
.confirmModal .confirmModal_body {
    height: 230px!important;
}
.note-editor.note-airframe .note-editing-area .note-editable, .note-editor.note-frame .note-editing-area .note-editable {
    min-height: 120px;
}
.note-editor .note-toolbar, .note-popover .popover-content {
    background: #ddd;
}
.form-horizontal.right .control-label {
    text-align: right;
    align-items: center!important;
    display: grid;
    font-size: 14px;
}
.form-group label {
    font-size: 14px;
    line-height: 1.4rem;
    vertical-align: top;
    margin-bottom: .5rem;
}
.form-inner-no-space {
    width: 100%;
    display: block;
    font-size: 14px;
    text-align: left;
}
.edit-approve{
    background:#daae82!important;
}

.remodal .remodal-close {
    top: 40px!important;
    right: 36px;
    color: red;
}

.nav-pills {  
    padding: 15px;
    background-color: #fff;
    -webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.05);
    box-shadow:0 3px 10px 0 #8d8f90;
    border-radius: 0!important;
}
.nav-pills .nav-link{
    border-radius: 0!important;
    margin-right: 1px!important;
}

.ui-checkboxradio-label .ui-icon-background{
    border: 1px solid #007fff!important;
    box-shadow: none!important;
}
.select2-container .select2-selection--single {
    height: 30px!important;
}
.select2-container {
    min-width: 150px !important;
}
.editableform{
    position: relative;
    height: 30px;
    display: block;
    width: 250px!important;
}
.editable-input{
    position: absolute;
    left: 0;
}
.editable-buttons {
    position: absolute;
    right: -4px;
    top: 0;
}
.editable-cancel{
    color: red;
}
.table-input{
    height: 20px!important;
    line-height: 18px;
    font-size: 11px;
    width: 70px;
    padding: 4px!important;
}

.td-input {
    max-width: 100px!important;
    height: 24px;
    font-size: 12px;
    border: 2px solid #6f6d6d;
}
.cost-hr{
    border: 0;
    border-top: 2px solid #e9ecef;
    height: 0px;
    display: block;
}
.fixed{
    display: inline-block;
    width: 100%;
}
.variable{
    display: inline-block;
    width: 100%;
}
.is-required {
    text-align: right;
    display: block;
    color: #dc3545;
    font-size: 15px;
    left: 0px;
    position: absolute;
    z-index: 99;
    top: 8px;
}

img.ui-datepicker-trigger {
    position: absolute;
    right: 24px;
    top: 3px;
    height: 24px;
    width: 24px;
}

.date-group{
    position: relative;
}

.date-group img.ui-datepicker-trigger {
    position: absolute;
    right: 3px;
    top: 3px;
    height: 24px;
    width: 24px;
}

.modal-lg {
    max-width: 100%!important;
}
.remodal{
    position: relative;
}
.remodal .remodal-close{
    top: 24px;
    right: 36px;
    color: red;
}
.count{
    line-height: 40px;
    font-weight: bold;
}

.control-label.text-left , .control-label.text-right , .control-label.text-center{
    display: block;
}

.form-actions.inline-submit{
    border-top: 3px solid #3699FF;
    padding: 25px;
    padding-top: 8px!important;
    padding-bottom: 8px!important;
    background: #ddd!important;
    margin-left: -25px;
    margin-right: -25px;
    position: sticky;
    z-index: 99;
    bottom: 0;
}


.form-actions.inline-title{
    border-bottom: 1px solid #0075dd;
    padding-top: 8px;
    padding-bottom: 8px!important;
    color: #000;
    background: #ddd!important;
    margin-bottom: 15px;
}

.input-group .select2-container{
    float: left!important;
    z-index: auto!important;
    width:100%!important;
}
.input-group-select .select2-container{
    float: left!important;
    width: 82%!important;
    z-index: auto!important;
}

.form-horizontal .form-group-label {
    margin-left: -15px;
    margin-right: -15px;
    clear: both;
    display: flex;
    margin-bottom: 0;
}
.form-horizontal .form-group-label label{
    margin-bottom: 5px!important;
}

.checkbox label{
    margin-left: 0!important;
    margin-bottom: 0!important;
}
input[type=checkbox].css-checkbox {
    width: 18px;
    height: 18px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
}

#clone-attachment{
    margin-top: 10px;
}

.file-download{
    line-height: 30px;
    font-size: 14px;
}
.table-striped tbody tr.warning{
    background: #dcce7b!important;
}

.p-2 {
    padding: .5rem!important;
    padding-bottom: 2px!important;
    padding-top: 2px!important;
    text-align: left;
}
.p-2 strong{
    font-weight: bold!important;
    width: 120px!important;
    display: inline-block!important;
}

.p-3 {
    padding: .5rem!important;
    padding-bottom: 2px!important;
    padding-top: 2px!important;
    text-align: left;
}
.p-3 strong{
    font-weight: bold!important;
    width: 30%!important;
    display: inline-block!important;
}

.form-control-td{
    height: 20px;
    line-height: 20px;
    border: 1px solid #dddddd;
    padding-left: 5px;
    width: 100px;
}

.messagebox{
z-index: 99999;
}

.form-group-list{
     width:100%;
     display: inline-block;
}
.form-group-list label{
    margin-bottom: 0!important;
    color: #000000;
}

.checkbox label .toggle{
    margin-left:0;
}

.textarea{
    min-height: 60px!important;
}

.page-link {
    color: #37474f;
}

textarea.form-control {
    width: 100%;
    background-color: #fff;
    border: 1px solid #c2cad8!important;
    border-radius: 0!important;
    box-shadow: none!important;
    padding: 7px 10px !important;
    height: auto;
}

select.form-control:not([size]):not([multiple]){
    height: 30px!important;
    line-height: 30px!important;
    padding: 0px 7px !important;
}

select.form-control-lg:not([size]):not([multiple]) {
    height: 38px!important;
    line-height: 38px!important;
    padding: 0px 7px !important;
}

.card-block{
  position: relative;
}
.card-block-bottom{
  padding-bottom: 0!important;
}

.form .form-actions.modal-form-action{
    margin-left: 0!important;
    margin-right: 0!important;
}

.ms-container .ms-list {
    box-shadow:none!important;
    border-radius: 0px!important;
}

.form .hr-horizontal, .portlet-form .hr-horizontal {
    padding: 0;
    margin: 0;
    border-top: 1px solid #DDDDDD;
    padding-top:5px;
    padding-bottom:5px!important;
    margin-left: -20px!important;
    margin-right: -20px!important;
}

.form .form-box-body, .portlet-form .form-box-body {
    border: 1px solid #F2F3F7!important;
    padding: 15px;
    margin-bottom:0px;
    background: white;
}

.form .form-box-header, .portlet-form .form-box-header {
    color:#8394a1;
}

.span12{
    width: 100%;
}
.span11{
    width: 91.45299145299145%;
}
.span10{
    width: 82.90598290598291%;
}
.span9{
    width: 74.35897435897436%;
}
.span8{
    width: 65.81196581196582%;
}
.span7{
    width: 57.26495726495726%;
}
.span6{
    width: 48.717948717948715%;
}
.span5{
    width: 40.17094017094017%;
}
.span4{
    width: 31.623931623931625%;
}
.span3{
    width: 23.076923076923077%;
}
.span2{
    width: 14.52991452991453%;
}
.span1{
    width: 9.982905982905983%;
}

.card .card-header.gray-bg{
    background: #748792!important;
}

.form-horizontal .form-group.bank-hide , .form-horizontal .form-group.mobile-hide{
    display: none;
}

.show-method{
    display: block!important;
}

.remodal{
    max-width: 100%!important;
}
.remodal-close {
    top: 24px;
    right: 27px;
}

.inner-header{
    margin-left: -15px!important;
    margin-right: -15px!important;
    background:#f4f7fa!important;
    margin-bottom: 15px;
}

.inner-header h5{
    text-align: left;
}

.table .thead-transparent th {
    color: #0d0c0c;
    background-color: #f9f7f7;
    border-bottom-color: #2e2f31 !important;
}

.table .thead-dark th {
    color: #0d0c0c;
    background-color: rgba(192, 195, 200, 0.29);
    border-bottom-color: #2e2f31 !important;
}

.table .thead-blue th {
    color: #ffffff;
    background-color: #007bff;
    border-bottom-color: #0e3b6c !important;
}

.table .thead-green th {
    color: #ffffff;
    background-color: #28a745;
    border-bottom-color: #116123 !important;
}
.table .thead-orange th {
    color: #ffffff;
    background-color: #fd7e14;
    border-bottom-color: #9d4c09 !important;
}

.table .thead-gray th {
    color: #ffffff;
    background-color:#6c757d;
    border-bottom-color: #4e5256 !important;
}


.table-border-less {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}
.table-border-less td, .table-border-less th {
    color: #1b1e21;
    font-size: 12px;
    padding-right: 5px!important;

}
.table-border-less th {
    padding: 5px!important;
    vertical-align: middle!important;
}


.card-block{
    position: relative;
}

.card .card-header.item-box{
    border-top: 2px solid #4C9EE7!important;
}

.portlet.box>.portlet-body {
    background-color:#f4f5f7;
    padding: 15px;
    padding-bottom: 0!important;
    clear: both;
    color:#272a2a;
}
.form-inner{
    width: 100%;
    display: block;
    padding-top: 54px;
}

.form-inner-no-space{
    width: 100%;
    display: block;
    font-size: 14px;
    text-align: left;
}

.card .card-body.card-body-inner{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: -20px;
    margin-right: -20px;
    background: #ffffff;

}

.tooltip-inner {
    max-width: 280px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    background-color: #dc3545;
    border-radius: 0!important;
}
.tooltip.bs-tooltip-top .arrow::before {
    margin-left: -3px;
    content: "";
    border-width: 5px 5px 0;
    border-top-color: #e61414;
}
.tooltip.bs-tooltip-bottom .arrow::before {
    margin-left: -3px;
    content: "";
    border-width: 0 5px 5px;
    border-bottom-color: #e61414;
}
.error{
    border: 1px solid red!important;
}

.form-horizontal{
    margin-bottom: 15px;
    margin-top: 15px;
}

.mini-form{
    margin-bottom: 0!important;
    margin-top: 0!important;
}

.sub-form, .right-sidebar-form{
    background: #dddddd;
    padding: 15px;
}
.hide{
    display: none;
}

.grid-products {
    width: 100%;
    display: grid;
    grid-gap: 0;
}
.grid-products {
    grid-template-columns: repeat(2, calc(100%/2));
}
.form-control-file {
    width: 95%;
    background-color: #fff;
    border: 1px solid #c2cad8!important;
    border-radius: 0!important;
    box-shadow: none!important;
    padding: 2.5px 2px !important;
    height: 30px;
    font-size: 12px;
}
.portlet.box>.portlet-body {
    padding-bottom: 1px!important;
}
.btn-hidden{
    display: none!important;
}

.hidden{
    display: none;
}
.clone{
    margin-bottom: 5px;
}
.ms-container{
    width: 100%;
}
.ms-container .ms-selectable li.ms-elem-selectable, .ms-container .ms-selection li.ms-elem-selection{
    text-align: left;
}
.ms-container .ms-optgroup-label {
    margin: 0;
    padding: 5px 0px 5px 5px;
    cursor: pointer;
    color: #343a40;
    font-weight: bold;
    background: #c7c9cb;
}
.btn{
    border-radius: 0!important;
}
.form-body{
    display: flex;
    align-items: stretch;
}
.form-control{
    position: relative;
}
label.error{
    position: absolute;
    top: -3px;
    font-size: 12px;
    left: 14px;
    color: #ff2515;
}

.checkbox{
    float: left;
    width: 100%;
}
.checkbox label{
    width: 100%;
    float: left;
    text-align: left;
    margin-left: 18px;
}

.checkbox label.ui-checkboxradio-label{
    width: 100%;
    float: left;
    text-align: left;
    margin-left:0;
}

#process-msg{
    display: none;
}
.alert-success{
    border-radius: 0!important;
}

.select2-container .select2-results__option{
font-size: 12px!important;
}
.select2-container--bootstrap4 .select2-selection--single .select2-selection__rendered{
    text-align: left;
}

.slow  .toggle-group { transition: left 0.7s; -webkit-transition: left 0.7s; }
.fast  .toggle-group { transition: left 0.1s; -webkit-transition: left 0.1s; }
.quick .toggle-group { transition: none;      -webkit-transition: none; }

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
    border-radius: 0!important;
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 0;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    font-size: 12px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
}

.select-box .select2-container .select2-selection--single , .select2-large .select2-container .select2-selection--single{
    height: 38px!important;
}
.select-box .select2-container .select2-selection--single .select2-selection__rendered , .select2-large .select2-container .select2-selection--single .select2-selection__rendered{
    line-height: 38px!important;
}
.select-box .select2-container .select2-selection--single .select2-selection__arrow , .select2-large .select2-container .select2-selection--single .select2-selection__arrow{
    height: 34px;
}

.custom_button {
    color               : #ffffff;
    background-color    : #3ebfea;
}
.custom_button:hover {
    color               : #ffffff;
    background-color    : #0db4ea;
}
.custom_button:active {
    color               : #ffffff;
    background-color    : #3ebfea;
    box-shadow          : none;
}

.help-block ul.list-unstyled{
    margin-bottom:0!important;
}

.form-check-inline .radio{
    line-height: 32px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    height: 32px;
    margin-right: 5px;
    font-size: 13px;
}


.custom-file{
    overflow: hidden;
}
.custom-file-label{
    height: 30px;
    line-height: 12px!important;
    font-size: 12px;
}
.custom-file-label::after {
    height: 28px;
    line-height: 12px;
    content: "Browse";
    border-radius: 0;
}


#discountPercent{
    font-size: 10px;
    color: red;
    font-weight: bold;
}

#check-btn{
    display: none;
    position: absolute;
    right: 2%;
    top: 30px;
    z-index: 9;
}

.form-group-list{
    width:100%;
    display: inline-block;
}
.form-group-list label{
    margin-bottom: 0!important;
    color: #000000;
}

.batch{
    display: none;
}
.checkbox-line{
    line-height: 40px; padding-right: 15px
}
.clearfix-margin-bottom{
    margin-bottom: 7px;
}
.input-line-text{
    line-height: 30px;
    font-weight: bold;
}
#netTotal {
    font-weight: bold;
}
.tfoot-grand-total{
    border-top: 2px solid #28a745;
    border-bottom: 2px solid #28a745
}

.modal-dialog {
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
}
@media(max-width: 768px) {
    .modal-dialog {
        min-height: calc(100vh - 20px);
    }
}

.btn-group-xs > .btn, .btn-xs {
    padding: .35rem .4rem .25rem .4rem;
    font-size:11px;
    line-height: .7;
}

.number-input{
    width: 100px;
}

.grid-comment-signature {
    width: 100%;
    display: grid;
    grid-gap: 0;
}
.grid-comment-signature {
    grid-template-columns: repeat(4, calc(100%/4));
}


.grid-designation {
    width: 100%;
    display: grid;
    grid-gap: 0;
}
.grid-designation {
    grid-template-columns: repeat(3, calc(100%/3));
}

.grid-products {
    width: 100%;
    display: grid;
    grid-gap: 0;
}
.grid-products {
    grid-template-columns: repeat(2, calc(100%/2));
}

.toggle.btn-sm {
    min-width: 3.125rem;
    min-height: 1.5rem;
}
.toggle-group label{
    font-size: 13px!important;
}
.toggle-group label.toggle-off{
    padding-left: 20px!important;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
    cursor: pointer;
    float: right;
    position: absolute;
    right: 22px;
    top: 3px;
    border: 0;
}

.select2-container--bootstrap4 .select2-selection--single .select2-selection__rendered {
    line-height: calc(1.5em + .35rem);
}

.comment-box{
    border: 2px solid #454343;
    padding: 15px;
}

