{% set  url = app.request.uri~'en/'~app.user.terminal.mainApp.slug %}
{% if app.user.terminal.mainApp.slug == "garments" %}
    <script> window.location.replace("{{ url }}"); </script>
{% elseif app.user.terminal.mainApp.slug == "bank" %}
    <script> window.location.replace("{{ url }}"); </script>
{% else %}
    <script> window.location.replace("{{ app.request.uri }}"); </script>
{% endif %}



