{% extends 'layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Module Process'|trans }}</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <table class="table table-striped table-bordered table-hover" id="datatable">
                        <thead class="thead-gray">
                        <tr>
                            <th scope="col">S/N</th>
                            <th scope="col">Bundle Name</th>
                            <th scope="col">Module Name</th>
                            <th scope="col">End Status</th>
                            <th scope="col">Approve Type</th>
                            <th scope="col">Operation Group</th>
                            <th scope="col">Attachment</th>
                            <th scope="col">Approver Form</th>
                            <th scope="col">Approver Reject</th>
                            <th scope="col">Status</th>
                            <th scope="col text-center"><i class="feather icon-settings"></i></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entity in entities %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ entity.module.appBundle.name }}</td>
                            <td>{{ entity.module.name }}</td>
                            <td>{{ entity.endStatus }}</td>
                            <td>{{ entity.approveType }}</td>
                            <td>{{ entity.operationGroup }}</td>
                            <td>
                                <input class="status"  name="attachment[]" id="attachment-{{ entity.attachment }}" data-action="{{ path('domain_moduleprocess_status',{'id':entity.id,'process':'attachment'}) }}" type="checkbox" {% if entity.attachment == 1 %} checked="checked" {% endif%} data-toggle="toggle" data-size="xs" data-style="slow" data-offstyle="warning" data-onstyle="info" data-on="Enabled" data-off="Disabled">
                            </td>
                            <td>
                                <input class="status"  name="approverForm[]" id="approverForm-{{ entity.approverForm }}" data-action="{{ path('domain_moduleprocess_status',{'id':entity.id,'process':'approverForm'}) }}" type="checkbox" {% if entity.approverForm == 1 %} checked="checked" {% endif%} data-toggle="toggle" data-size="xs" data-style="slow" data-offstyle="warning" data-onstyle="info" data-on="Enabled" data-off="Disabled">
                            </td>
                            <td>
                                <input class="status"  name="approverReject[]" id="approverReject-{{ entity.approverReject }}" data-action="{{ path('domain_moduleprocess_status',{'id':entity.id,'process':'approverReject'}) }}" type="checkbox" {% if entity.approverReject == 1 %} checked="checked" {% endif%} data-toggle="toggle" data-size="xs" data-style="slow" data-offstyle="warning" data-onstyle="info" data-on="Enabled" data-off="Disabled">
                            </td>
                            <td>
                                <input class="status"  name="status[]" id="status-{{ entity.status }}" data-action="{{ path('domain_moduleprocess_status',{'id':entity.id,'process':'status'}) }}" type="checkbox" {% if entity.status == 1 %} checked="checked" {% endif%} data-toggle="toggle" data-size="xs" data-style="slow" data-offstyle="warning" data-onstyle="info" data-on="Enabled" data-off="Disabled">
                            </td>
                            <td>
                                <a class="btn btn-mini yellow-bg white-font" href="{{ path('domain_moduleprocess_edit',{'id':entity.id}) }}"><i class="feather icon-edit"></i> Edit</a>
                                <a class="btn  btn-transparent btn-mini red-font remove" href="javascript:" data-action="{{ path('domain_moduleprocess_delete',{'id':entity.id}) }}"><i class="fa fa-remove"></i></a>
                            </td>

                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    $('#datatable').DataTable( {
        "pageLength": 25,
        "order": [[ 1, "asc" ]],
        'columnDefs': [ {
            'targets': [0,4],
            'orderable': false
        }]
    });
{% endblock %}
