{% extends 'layout.html.twig' %}
{% block body_id 'core_domain_new' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Module Process'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm">
                            <a href="{{ path('domain_moduleprocess') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-list"></i>{{ 'Module Process'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="portlet box green ">
                    <div class="portlet-title">
                        <div class="caption">{{ 'Manage Module Process'|trans }} </div>
                    </div>
                    <div class="portlet-body form">
                        {{ form_start(form, {'attr': {'class': 'form-horizontal right'}}) }}
                        <div class="row form-body">
                            <div class="form-inner-no-space">
                                <div class="row">
                                    <div class="col-md-12 form-box-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.module, 'Module Name'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-4">
                                                        <span class="is-required">*</span>
                                                        {{ form_widget(form.module) }}
                                                        {{ form_errors(form.module) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.approveType, 'Approve Type'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-4">
                                                        <span class="is-required">*</span>
                                                        {{ form_widget(form.approveType) }}
                                                        {{ form_errors(form.approveType) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.endModule, 'End Module'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-4">
                                                        {{ form_widget(form.endModule) }}
                                                        {{ form_errors(form.endModule) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.operationGroup, 'Operation Group'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-4">
                                                        {{ form_widget(form.operationGroup) }}
                                                        {{ form_errors(form.operationGroup) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.endStatus, 'End Status'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-3">
                                                        {{ form_widget(form.endStatus) }}
                                                        {{ form_errors(form.endStatus) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="col-md-4"></label>
                                                    <div class="col-md-6">
                                                        {{ form_widget(form.attachment) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="col-md-4"></label>
                                                    <div class="col-md-6">
                                                        {{ form_widget(form.approverForm) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="col-md-4"></label>
                                                    <div class="col-md-6">
                                                        {{ form_widget(form.approverReject) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="col-md-4"></label>
                                                    <div class="col-md-6">
                                                        {{ form_widget(form.status) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% if entity.module is defined and entity.module.appBundle.bundleRoleGroups is defined and entity.module.appBundle.bundleRoleGroups is not empty  %}
                                        <div class="row">
                                            <table class="table table-striped table-bordered table-hover" id="datatable">
                                                <thead class="thead-dark">
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Role</th>
                                                    <th scope="col">Process</th>
                                                    <th scope="col">Ordering</th>
                                                    <th scope="col">Status</th>
                                                </tr>
                                                </thead>
                                                <tbody id="sortable">
                                                {% if entity.moduleProcessItems is defined and entity.moduleProcessItems is not empty  %}
                                                {% for role in entity.moduleProcessItems %}
                                                    {% if role.bundleRoleGroup.roleGroup == "Approve" %}
                                                        <tr data-post-id="{{ role.id }}">
                                                        <td><span class="ui-icon ui-icon-arrowthick-2-n-s"></span></td>
                                                        <td scope="col">
                                                            {{ role.bundleRoleGroup.name }}
                                                            <input type="hidden" name="processItem[]" id="processItem" value="{{ role.id }}">
                                                        </td>
                                                         <td scope="col">
                                                            {{ role.bundleRoleGroup.process }}
                                                        </td>
                                                         <td scope="col" style="width:80px; text-align: center">
                                                            <input type="text" name="ordering[]" id="ordering" class="form-control form-control-sm"  placeholder="Order" value="{{ role.ordering }}">
                                                        </td>
                                                        <td scope="col">
                                                            <input  name="status[]" class="status" id="status" data-action="{{ path('domain_moduleprocess_item_status',{'id':role.id}) }}" type="checkbox" {% if role.status == 1 %} checked="checked" {% endif%} data-toggle="toggle" data-size="xs" data-style="slow" data-offstyle="warning" data-onstyle="info" data-on="Enabled" data-off="Disabled">
                                                        </td>
                                                    </tr>
                                                    {% endif %}
                                                {% endfor %}
                                                {% endif %}
                                                </tbody>
                                            </table>

                                        </div>
                                        {% endif %}
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="col-md-4"></label>
                                                    <div class="col-md-6">
                                                        <div class="btn-group" role="group" aria-label="Button group with nested dropdown"><button type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-refresh"></i>Restore</button>
                                                            {{ form_widget(form.SaveAndCreate, {label: 'label.save.continue',value:'label.save.continue', attr: { class: 'btn btn-info form-submit'}}) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>

                            </div>
                        </div>
                        {{ form_widget(form._token) }}
                        {{ form_end(form) }}
                    </div>
                    <p id="console"></p>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
 {% block cssBlock %}
     <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
 {% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    $('#sortable').sortable({
    update: function(event, ui) {
    $('#sortable').children().each(function(i) {
        var id = $(this).attr('data-post-id')
        ,order = $(this).index() + 1;
        $.get(Routing.generate('domain_moduleprocess_sorting'),{'columnId':id,'sorting':order})});
    }
    });
{% endblock %}
