{% extends 'layout.html.twig' %}
{% block body_id 'core_domain_new' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Operational Access Role'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm">
                            <a href="{{ path('domain_bundlerole_new') }}" class="btn btn-sm  green-bg white-font"><i class="fas fa-plus"></i>{{ 'Add New'|trans }}</a>
                            <a href="{{ path('domain_bundlerole') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-list"></i>{{ 'Bundle Role'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="portlet box green ">
                    <div class="portlet-title">
                        <div class="caption">{{ 'Manage Operational Access Role'|trans }} </div>
                    </div>

                    <div class="portlet-body form">
                        {{ form_start(form, {'attr': {'class': 'form-horizontal right'}}) }}
                        <div class="row form-body">
                            <div class="form-inner-no-space">
                                <div class="row">
                                    <div class="col-md-12 form-box-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.appBundle, 'Bundle Name'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-4">
                                                        {{ form_widget(form.appBundle) }}
                                                        {{ form_errors(form.appBundle) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.roleGroup, 'Role Group'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-4">
                                                        {{ form_widget(form.roleGroup) }}
                                                        {{ form_errors(form.roleGroup) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.name, 'Role Label'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-8">
                                                        {{ form_widget(form.name) }}
                                                        {{ form_errors(form.name) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.roleName, 'Role Name'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-8">
                                                        {{ form_widget(form.roleName) }}
                                                        {{ form_errors(form.roleName) }}
                                                        <p class="help">{{ "Role must be capital Letter with out space. ie: ROLE_ADMIN,ROLE_OTHERS "|trans }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.process, 'Process Name'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-4">
                                                        {{ form_widget(form.process) }}
                                                        {{ form_errors(form.process) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="{{ form.roles.vars.id }}" class="control-label col-md-4"> User Roles</label>
                                                    <div class="col-md-8">
                                                        <div class="input-icon right">
                                                            <div class="controls">
                                                                {{ form_errors(form.roles) }}
                                                                {{ form_widget(form.roles, {'attr': {'class': 'form-control multi-select2 span6 m-wrap'}}) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="col-md-4"></label>
                                                    <div class="col-md-6">
                                                        {{ form_widget(form.status) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-actions">
                                    <div class="offset-3 col-md-6 text-right">
                                        <div class="btn-group" role="group" aria-label="Button group with nested dropdown"><button type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-refresh"></i>Restore</button>
                                            {{ form_widget(form.SaveAndCreate, {label: 'label.save.continue',value:'label.save.continue', attr: { class: 'btn btn-info form-submit'}}) }}
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        {{ form_widget(form._token) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
 {% block cssBlock %}
     <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
 {% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}