#print-area{

}
table{
	border-collapse: collapse;
	width: 100%;
	max-width: 100%;
	margin-bottom: 1rem;
	background-color: transparent;
	border: 1px solid #000000;
}
body {
	font-family: "Open Sans", sans-serif;
	font-size: 13px;
	color: #000000;
	font-weight: 400;
	position: relative;
}
.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;

}
.table {
	display: table;
	border-collapse: collapse!important;
	border-spacing: 0!important;
	border-color: #000000;
	width: 100%;
}
.table th, .table td{
	padding-left: 5px;
	padding-right: 5px;
}

.table th {
	display: table-cell;
	vertical-align: middle;
	font-weight: bold;
}

.table td{
	display: table-cell;
	vertical-align: middle;
}

ul , ul li{
	list-style: none;
	margin: 0;
	padding: 0;
	line-height: 20px;

}
p{
	margin: 0;
	padding: 0;
}
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}
#invoice{
	padding: 30px;
}

.invoice {
	position: relative;
	background-color: #FFF;
	min-height: 680px;
	padding: 15px
}

.invoice header {
	padding: 10px 0;
	margin-bottom: 20px;
	border-bottom: 1px solid #3989c6;
}

.invoice .company-details {
	text-align: right
}

.invoice .company-details .name {
	margin-top: 0;
	margin-bottom: 0;
	color: #3989c6;
}

.invoice .contacts {
	margin-bottom: 20px
}

.invoice .invoice-to {
	text-align: left;
	float: left;

}

.invoice .invoice-to .to {
	margin-top: 0;
	margin-bottom: 0
}

.invoice .invoice-details {
	text-align: right
}

.invoice .invoice-details .invoice-id {
	margin-top: 0;
	color: #3989c6
}

.invoice main {
	padding-bottom: 50px
}

.invoice main .thanks {
	margin-top:15px;
	font-size: 2em;
	margin-bottom: 30px
}

.invoice main .notices {
	padding-left: 6px;
	border-left: 6px solid #3989c6
}

.invoice main .notices .notice {
	font-size: 1.2em
}

.invoice table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

.invoice table td,.invoice table th {
	padding: 5px;
	background: #eee;
	border-bottom: 1px solid #fff
}

.invoice table th {
	white-space: nowrap;
	font-weight: 400;
	font-size: 16px
}

.invoice table td h3 {
	margin: 0;
	font-weight: 400;
	color: #3989c6;
	font-size: 1.2em
}

.invoice table .qty,.invoice table .total,.invoice table .unit {
	text-align: right!important;
	font-size: 1.2em
}
.text-right{
	text-align: right!important;
}


.Text-Right{
	text-align: right!important;
}

.Text-Left{
	text-align: left!important;
}

.Text-Center{
	text-align: center!important;
}


.invoice table .no {
	color: #000000;
	font-size: 1.6em;
	background: #3989c6
}

.invoice table .unit {
	background: #ddd
}

.invoice table .total {
	background: #3989c6;
	color: #000000;
}

.invoice table tbody tr:last-child td {
	border: none
}

.invoice table tfoot td {
	background: 0 0;
	border-bottom: none;
	white-space: nowrap;
	text-align: right;
	font-size: 1.2em;
	border-top: 1px solid #aaa
}


.invoice table tfoot tr:first-child td {
	border-top: none
}

.invoice table tfoot tr:last-child td {
	color: #000101;
	font-size: 15px;
}

.invoice table tfoot tr td:first-child {
	border: none
}

.invoice footer {
	width: 100%;
	color: #777;
	border-top: 1px solid #aaa;
	padding: 8px 0
}

.invoice footer .left{
	text-align: left;
	float: left;
}
.invoice footer .right{
	text-align: right;
	float: right;
}


@media print {
	.hidden-print{
		display: none;
	}
	.invoice {
		font-size: 11px!important;
		overflow: hidden!important
	}

	.invoice footer {
		position: absolute;
		bottom: 10px;
		page-break-after: always
	}

	.invoice>div:last-child {
		page-break-before: always
	}

}
table{
	font-size: 12px;
}

td, th {
	display: table-cell;
	vertical-align: middle;
	text-align: left !important;
	border: 1px solid #ddd;
}

.row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
	float: left;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
	position: relative;
	width: 100%;
	min-height: 1px;
}
.col-md-12 {
	flex: 0 0 100%;
	max-width: 100%;
}
.col-md-8 {
	flex: 0 0 66.666667%;
	max-width: 66.666667%;
}
.col-md-6 {
	flex: 0 0 50%;
	max-width: 50%;
}
.col-md-4 {
	flex: 0 0 33.333333%;
	max-width: 33.333333%;
}
.col-md-3 {
	flex: 0 0 25%;
	max-width: 25%;
}
p{
	line-height: 10px;
	font-size: 11px;
}