
<div class="portlet box blue ">
    <div class="portlet-body form">
        <div class="row form-body">
            <div class="form-inner-no-space">
                <div class="row">
                    <div class="col-md-6">
                      <table class="table-border-less">
                          <tr><th class="text-left" colspan="2" scope="col" >Information</th></tr>
                          <tr><th class="text-right" scope="col" >Name</th><td class="text-left" >
                                  {{ entity.name }}</td></tr>
                          <tr><th class="text-right"  scope="col" >Name Bangla</th><td class="text-left" >
                                  {{ entity.nameBn }}</td></tr>
                          <tr><th class="text-right"  scope="col" >Code</th><td class="text-left" >
                                  {{ entity.code }}</td></tr>
                          <tr><th class="text-right"  scope="col" >Contact Person</th><td class="text-left" >
                                  {{ entity.contactPerson }}</td></tr>
                          <tr><th class="text-right"  scope="col" >Contact Number</th><td class="text-left" >
                                  {{ entity.contactMobile }}</td></tr>
                          <tr><th class="text-right"  scope="col" >Address</th><td class="text-left" >
                                  {{ entity.address }}</td></tr>

                      </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
