{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/plugins/jquery-ui-1.12.1/jquery-ui.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/jquery-ui-1.12.1/jquery-ui.theme.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/DataTables/datatables.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/select2-bootstrap/css/select2.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/select2-bootstrap/css/select2-bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/summernote/summernote.css') }}" >
    <link rel="stylesheet" href="{{ asset('assets/plugins/remodal/dist/remodal.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/plugins/remodal/dist/remodal-default-theme.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/plugins/gasparesganga/jquery-message-box/dist/messagebox.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/plugins/bootstrap4-toggle/css/bootstrap4-toggle.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/sweetalert2/sweet-alert.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/checkbox-radio/toggle-checkbox-radio.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/navbar/animate.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/bootstrap-editable/css/bootstrap-editable.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/multi-select/css/multi-select.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/sweet-modal/dist/jquery.sweet-modal.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/jQuery-datepicker/jquery-ui-timepicker-addon.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/pop-modal/popModal.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/horizontalMenu.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/theme/rbs/css/pcoded.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/theme/rbs/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/theme/rbs/css/theme.css') }}">
    {% block cssBlock %} {% endblock %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/plugins/jquery-ui-1.12.1/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/select2-4.0.11/dist/js/select2.js') }}"></script>
    <script src="{{ asset('assets/plugins/bootstrap4-toggle/js/bootstrap4-toggle.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/cookies/jquery-cookie.js') }}"></script>
    <script src="{{ asset('assets/plugins/jquery-validation/dist/jquery.validate.js') }}"></script>
    <script src="{{ asset('assets/plugins/jquery-validation/dist/jquery-validate.bootstrap-tooltip.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/icon-feather/feather.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/DataTables/datatables.js') }}"></script>
    <script src="{{ asset('assets/plugins/summernote/summernote.js') }}"></script>
    <script src="{{ asset('assets/plugins/remodal/dist/remodal.js') }}"></script>
    <script src="{{ asset('assets/plugins/multi-select/js/jquery.multi-select.js') }}"></script>
    <script src="{{ asset('assets/plugins/number/mask/dist/jquery.mask.js') }}"></script>
    <script src="{{ asset('assets/plugins/gasparesganga/jquery-message-box/dist/messagebox.js') }}"></script>
    <script src="{{ asset('assets/plugins/sweet-modal/dist/jquery.sweet-modal.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/sweetalert2/sweetalert2.all.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/bootstrap-editable/js/bootstrap4-editable.js') }}"></script>
    <script src="{{ asset('assets/plugins/bootstrap-datepicker/build/js/moment.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/bootstrap-datepicker/build/js/popper.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/jQuery-datepicker/jquery-ui-timepicker-addon.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/jQuery-datepicker/i18n/jquery-ui-timepicker-addon-i18n.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/jQuery-datepicker/jquery-ui-sliderAccess.js') }}"></script>
    <script src="{{ asset('assets/plugins/ckeditor/ckeditor.js') }}"></script>
    <script src="{{ asset('assets/plugins/ckeditor/samples/js/sample.js') }}"></script>
    <script src="{{ asset('assets/plugins/table-to-excel/dist/tableToExcel.js') }}"></script>
    <script src="{{ asset('assets/plugins/pop-modal/popModal.js') }}"></script>
    <script src="{{ asset('assets/js/pcoded.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/cookies/jquery-cookie.js') }}"></script>
    <script src="{{ asset('assets/js/numeric.js') }}"></script>
    <script src="{{ asset('assets/js/horizontalMenu.js') }}"></script>
    <script src="{{ asset('assets/js/kinzi.print.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            {% block javascriptBlock %}

            {% endblock %}
        });
    </script>
    <script>
        $(function () {

            $(window).on('load', function() { // makes sure the whole site is loaded
                $('#status').fadeOut(); // will first fade out the loading animation
                $('#preloader').delay(0).fadeOut('fast'); // will fade out the white DIV that covers the website.
                $('body').delay(1).css({'overflow':'visible'});
            });

            $('body').on('click', '#mobile-collapse', function(el) {
                var val = $(this).attr('id');
                Cookies.set('productList', "navbar-collapsed");
                $('.pcoded-navbar').addClass(Cookies.set('productList', val));
                setTimeout(location.reload(), 1000);
            });

            $('.dropdown-menu a.dropdown-toggle').on('mouseover', function(e) {
                if (!$(this).next().hasClass('show')) {
                    $(this).parents('.dropdown-menu').first().find('.show').removeClass('show');
                }
                var $subMenu = $(this).next('.dropdown-menu');
                $subMenu.toggleClass('show');

                $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function(e) {
                    $('.dropdown-submenu .show').removeClass('show');
                });
                return false;
            });

            $.fn.editable.defaults.mode ='inline';

            $('.datetimepicker-input').datetimepicker();

            $('.select2').select2({
                theme: 'bootstrap4'
            });
            $(".form-file-input").on("change", function() {
                var fileName = $(this).val().split("\\").pop();
                $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
            });
            //
            $('[data-toggle="tooltip"]').tooltip();
            $(document).on('hover', '.dropdown-menu', function (e) {
                e.stopPropagation();
            });
            if ($(window).width() < 992) {
                $('.dropdown-menu a').click(function(e){
                    e.preventDefault();
                    if($(this).next('.submenu').length){
                        $(this).next('.submenu').toggle();
                    }
                    $('.dropdown').on('hide.bs.dropdown', function () {
                        $(this).find('.submenu').hide();
                    })
                });
            }

        });
       // $.fn.editable.defaults.mode ='inline';
        $.fn.editable.defaults.mode = 'popover';
        $("#horizontalMenu").horizontalResponsiveMenu({
            resizeWidth: '768', // Set the same in Media query
            animationSpeed: 'fast', //slow, medium, fast
            accoridonExpAll: false //Expands all the accordion menu on click
        });
    </script>
{% endblock %}
{% block bundleJavascript %}
{% endblock %}



