{% extends 'layout.html.twig' %}
{% block body %}
    <div class="pcoded-inner-content">
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row" >
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Manage Employee'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm">
                            <a href="{{ path('core_user_register') }}"   class="btn btn-sm  green-bg white-font"><i class="fa fa-plus"></i>{{ 'New Employee'|trans }}</a>
                            <a href="{{ path('core_user_index') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-large"></i>{{ 'Employee'|trans }}</a>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div class="row" id="body-height">
            <div class="card">
                <div class="card-block">
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">S/N</th>
                            <th scope="col">Name</th>
                            <th scope="col">User</th>
                            <th scope="col">Designation</th>
                            <th scope="col">Mobile</th>
                            <th scope="col">Email</th>
                            <th scope="col">Department</th>
                            <th scope="col">Status</th>
                            <th scope="col" class=" text-center"><i class="feather icon-settings"></i></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entity in entities %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ entity.name }}</td>
                            <td>{{ entity.username }}</td>
                            <td>{% if entity.profile is not empty and entity.profile.department is not empty %}{{ entity.profile.department.name }}{% endif %}</td>
                            <td>{{ entity.profile.mobile }}</td>
                            <td>{{ entity.email }}</td>
                            <td><input class="status" data-action="{{ path('user_status',{'id':entity.id}) }}" type="checkbox" {% if entity.enabled == 1 %} checked="checked" {% endif %} data-toggle="toggle" data-size="xs" data-style="slow" data-offstyle="warning" data-onstyle="success" data-on="Enabled" data-off="Disabled"></td>
                            <td>
                                <div class="btn-group">
                                    <a class='btn btn-mini yellow-bg white-font' href='{{ path('core_user_edit',{'id':entity.id}) }}' id='{{ entity.id }}' ><i class='feather icon-edit'></i> Edit</a>
                                    <a class='btn  btn-transparent btn-mini red-font remove' data-id='{{ entity.id }}' href='javascript:' data-action='{{ path('core_user_delete',{'id':entity.id}) }}' id='{{ entity.id }}' ><i class='feather icon-trash-2'></i></a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/core/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/module/core/js/user.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}
