{% extends 'layout.html.twig' %}
{% block body %}
    <div class="pcoded-inner-content">
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row" >
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Manage Reporting Users'|trans }}</h5>
                </div>

            </div>
        </div>
        <div class="row" id="body-height">
            <div class="card">
                <div class="card-block">
                    <table class="table table-striped table-bordered table-hover dataTable" id="entityDatatable">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">S/N</th>
                            <th scope="col">Name</th>
                            <th scope="col">Branch</th>
                            <th scope="col">Designation</th>
                            <th scope="col">Operational Designation</th>
                            <th scope="col">Department</th>
                            <th scope="col">Report To</th>
                            <th scope="col">Reliever To</th>
                            <th scope="col">Status</th>
                            <th scope="col" class=" text-center"><i class="feather icon-settings"></i></th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/core/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/module/core/js/user.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/pagination/core/ajax-user-reporting.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}
