{% extends 'layout.html.twig' %}
{% block body_id 'user_change_password' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Change Password'|trans }}: {{ entity.username }}</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="portlet box green ">
                    <div class="portlet-title">
                        <div class="caption"><i class="fa fa-th-large"></i> {{ 'Change New Password'|trans }} </div>
                    </div>
                    <div class="portlet-body form">
                        {{ form_start(form, {'attr': {'class': 'form-horizontal right'}}) }}
                        <div class="row form-body">
                            <div class="form-inner-no-space">
                                <div class="row">
                                    <div class="col-md-3 form-box-header" ><h4>Change Password Information</h4><span>Password must be  at lse 6 characters</span></div>
                                    <div class="col-md-9 form-box-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    {{ form_label(form.currentPassword, 'Current Password', {'label_attr': {'class': 'col-md-6'}}) }}
                                                    <div class="col-md-6">
                                                        {{ form_widget(form.currentPassword) }}
                                                        {{ form_errors(form.currentPassword) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    {{ form_label(form.newPassword.first, 'label.password', {'label_attr': {'class': 'col-md-6'}}) }}
                                                    <div class="col-md-6">
                                                        {{ form_widget(form.newPassword.first, {'attr': {'class': ''}}) }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    {{ form_label(form.newPassword.second, 'label.new_password_confirm', {'label_attr': {'class': 'col-md-6'}}) }}
                                                    <div class="col-md-6">
                                                        {{ form_widget(form.newPassword.second, {'attr': {'class': ''}}) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <div class="col-md-12 text-right">
                                        <div class="btn-group" role="group">
                                            <button  type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-recycle"></i>{{ 'Reset'|trans }}</button>
                                            {{ form_widget(form.ResetPassword, {label: 'ResetPassword', attr: { class: 'btn btn-info form-submit'}}) }}
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        {{ form_widget(form._token) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}




