{% extends 'layout.html.twig' %}
{% block body_id 'profile_update' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Manage My Profile'|trans }}: {{ entity.username }}</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="portlet box green ">
                    <div class="portlet-title">
                        <div class="caption"><i class="fa fa-th-large"></i> {{ 'Manage Update Employee'|trans }}

                        </div>
                        <span class="portlet-title-btn" >
                                <a href="{{ path('change_password') }}" class="btn btn-sm blue-bg white-font"><i class="fa fa-lock"></i>{{ 'Change Password'|trans }}</a>
                        </span>
                    </div>
                    <div class="portlet-body form">
                        {{ form_start(form, {'attr': {'class': 'form-horizontal right'}}) }}
                        <div class="row form-body">
                            <div class="form-inner-no-space">
                                <div class="row">
                                    <div class="col-md-3"><h4>Account Information</h4></div>
                                    <div class="col-md-9 form-box-body">
                                         <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.mobile, 'Mobile no', {'label_attr': {'class': 'col-md-3'}}) }}
                                                    <div class="col-md-6">
                                                        {{ form_widget(form.mobile) }}
                                                        {{ form_errors(form.mobile) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label required" for="">
                                            </label>
                                            <div class="thumbnail">
                                                <div class="thumb">
                                                    {% if entity.profile.path is empty %}
                                                    <img src="{{ asset('assets/images/user/profile-photo.png') }}" alt="" class="img-fluid img-thumbnail">
                                                    {% else %}
                                                    <img src="{{ asset('uploads/user/'~entity.profile.path) }}" alt="" class="img-fluid img-thumbnail">
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.file, 'Profile Picture', {'label_attr': {'class': 'col-md-3'}}) }}
                                                    <div class="col-md-6 custom-file">
                                                        {{ form_widget(form.file) }}
                                                        {{ form_errors(form.file) }}
                                                        <label class="custom-file-label" for="edit_profile_form_file">Choose file</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <div class="col-md-12 text-right">
                                        <div class="btn-group" role="group">
                                            <button  type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-recycle"></i>{{ 'Reset'|trans }}</button>
                                            {{ form_widget(form.SaveAndCreate, {label: 'label.save.continue', attr: { class: 'btn btn-info form-submit'}}) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ form_widget(form._token) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
    <style>
        .thumb{
            width: 220px;
        }
    </style>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/module/core/js/user.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    formSubmitProcess();
{% endblock %}



